<div class="field">
	<label for="{{name}}" class="field__label">{{label}}</label>
	<input type="{{#if type}}{{type}}{{/if}}" value="{{#if value}}{{value}}{{/if}}" name="amount" class="field__input">
</div>